@import "tailwindcss";

@layer base {
  :root {
    --bg: #0a0e14;
    --card-bg: #11171f;
    --accent: #c5a059;
    --text-main: #ffffff;
    --text-dim: #a0a0a0;
    --border: #2a3038;
  }

  body {
    background-color: var(--bg);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
  }
}
