@import "tailwindcss";

@layer base {
  :root {
    --bg: #ffffff;
    --card-bg: #f8fafc;
    --accent: #b92b27;
    --text-main: #0f172a;
    --text-dim: #64748b;
    --border: #e2e8f0;
  }

  body {
    background-color: var(--bg);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
  }
}
